<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>个人中心</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="/QRCode/css/wode.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon "></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title"></span>
                </div>
                <a  onclick="toMod()" class="aui-navBar-item">
                    <i class="icon icon-set"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-box-flex">
                    <div class="aui-box-flex-hd">
                        <img  alt="" th:src="${headurl}">
                    </div>
                    <div class="aui-box-flex-bd">
                        <h2 th:text="${nickname}">微信挪车码用户</h2>
                        <p th:text="${message}">若需要挪车，请电话联系</p>
                    </div>
                </div>
                <div class="divHeight"></div>
                <div class="aui-flex-head">
                    <div class="aui-flex-head-hd">我的挪车码</div>
                    <div class="aui-flex-head-fr">--</div>
                </div>
                <div name="box" th:each="card : ${cards}" >
	                <div  class="aui-text-flex">
	                    <p >NO:<label id="cardNo" th:text="${card.cardNo}"></label></p>
	                    <h2>
	                        <em id="chepNo" th:text="${card.carNo}">-</em>
	                        <i style="display:none;" class="icon icon-dow"></i>
	                    </h2>
	                    <h3>已绑定:<label id="userPhone" th:text="${card.userPhone}">-</label></h3>
	                </div>
	                <div class="aui-user-flex" >
	                    <div class="aui-user-flex-hd" style="display:none;">
	                        <img src="images/user.png" alt="">
	                    </div>
	                    <div class="aui-user-flex-bd">
	                        <h3>
	                             <em th:id="${card.cardNo}" onclick="toModBind(this)">修改绑定信息</em>
	                        </h3>
	                    </div>
	                </div>
                </div>
            </section>
            
                    <input type="hidden" id="openid" th:value="${openid}">
        </section>
        
        <script type="text/javascript" src="/utils/js/jquery.min.js"></script>
        <script type="text/javascript" src="/utils/js/constant.js"></script>
        <script type="text/javascript" src="/QRCode/js/wode/wode.js"></script>
        <script>
        function toMod(){
        	var openid=$('#openid').val();
        	window.location.href='/qrcode/mod?openid='+openid;
        }
        function toModBind(dom){
        	var openid=$('#openid').val();
        	var cardNo=$(dom).attr('id');
        	window.location.href='/qrcode/modbind?openid='+openid+'&cardNo='+cardNo;
        }
        </script>
    </body>
</html>
