<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>个人中心</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="css/wode.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon "></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title"></span>
                </div>
                <a href="mod" onclick="" class="aui-navBar-item">
                    <i class="icon icon-set"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-box-flex">
                    <div class="aui-box-flex-hd">
                        <img src="img/user-logo.png" alt="">
                    </div>
                    <div class="aui-box-flex-bd">
                        <h2>微信挪车码用户</h2>
                        <p>若需要挪车，请电话联系</p>
                    </div>
                </div>
                <div class="divHeight"></div>
                <div class="aui-flex-head">
                    <div class="aui-flex-head-hd">我的二维码</div>
                    <div class="aui-flex-head-fr">--</div>
                </div>
                <div class="aui-text-flex">
                    <p>NO:100001</p>
                    <h2>
                        <em>川X6607A</em>
                        <i style="display:none;" class="icon icon-dow"></i>
                    </h2>
                    <h3>已绑定:135****4089</h3>
                </div>
                <div class="aui-user-flex" >
                    <div class="aui-user-flex-hd" style="display:none;">
                        <img src="images/user.png" alt="">
                    </div>
                    <div class="aui-user-flex-bd">
                        <h3>
                             <em onclick="window.location.href='modbind'">修改绑定信息</em>
                        </h3>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>
