<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>服务器出现错误</title>

	<link rel="stylesheet" href="/main/css/500.css" />
	
</head>
<body>


	<nav class="shelf">
	  <a class="book home-page">首页</a>
	  <a class="book about-us">关于我们</a>
	  <a class="book contact">联系我们</a>
	  <a class="book faq">F.A.Q.</a>
	  
	  <span class="book not-found"></span>
	 
	  <span class="door left"></span>
	  <span class="door right"></span>
	</nav>
	<h1>Error 500</h1>
	<p>糟糕，服务器出现未知错误，请稍后再试。。。</p>
	
</body>
</html>