

<!doctype html>
<html>

<head th:include="webinclude :: header"></head>
<body>


	<div id="gotop" class="pz_banner" style="overflow: visible">
		<!-- 顶部内容 -->
		<div th:include="webinclude::top"></div>
		<div class="banner_2">
			<div class="img">
				<img alt="网站案例" class="banner_img" src="/website/images/7975769.jpg">
			</div>
			<div class="bian"></div>
		</div>
	</div>
	<div class="pz_main">
		<div class="c_0100_6">
			<div class="container">
				<div class="row_2" id="Append">
					<ul class="ul_1 ul_marticle">
						<div th:include="webinclude::cases"></div>
					</ul>
				</div>

				<div class="loading wow fadeInUp a_more">
					<img alt="" src="/website/images/loading.gif">
					<h6>下拉加载更多</h6>
				</div>
				<!--是当所有案例拖不动加载完毕时，才会出现在的按钮-->
				<div class="btn">
					<a
						href="http://wpa.qq.com/msgrd?v=3&uin=957505575&site=qq&menu=yes"
						target="_blank"><img alt="" src="/website/images/ico4_2.png">索取更多案例</a>
				</div>
				<!--是当所有案例拖不动加载完毕时，才会出现在的按钮end-->
			</div>
		</div>
	</div>
	<div class="z_neiye">
		<div class="zbtn" id="btn"></div>
		<iframe width="100%" height="100%" src=""></iframe>
	</div>

	<!--右侧漂浮-->
	<div class="pf_right visible-lg">
		<ul>

			<li class="r_ewm"><a href="javascript:;">
					<h5>微信咨询</h5>
					<div class="ico">
						<img src="/website/images/btn1_87205036.png" class="img_1">
						<img src="/website/images/btn1_8_h6872297.png" class="img_2">
					</div>
					<div class="z_ewm">
						<span class="jt"><img src="/website/images/zico6_6.png" /></span>
						<p>
							<img src="/website/images/6365912487915482991329897.png"
								title="erweima.png" alt="erweima.png" />
						</p>
					</div>
			</a></li>

			<li><a href="tencent://message/?uin=419348033">
					<h5>QQ咨询</h5>
					<div class="ico">
						<img src="/website/images/btn1_72765240.png" class="img_1"><img
							src="/website/images/btn1_7_h2244330.png" class="img_2">
					</div>
			</a></li>

			<li><a href="">
					<h5>13524954089</h5>
					<div class="ico">
						<img src="/website/images/btn1_63546275.png" class="img_1"><img
							src="/website/images/btn1_6_h5481741.png" class="img_2">
					</div>
			</a></li>

			<li><a href="javascript:;">
					<h5>在线留言</h5>
					<div class="ico">
						<img src="/website/images/btn1_41211715.png" class="img_1"><img
							src="/website/images/btn1_4_h6335932.png" class="img_2">
					</div>
			</a></li>

			<li class="last"><a href="javascript:scrollTo('#gotop',0,300)">
					<h5>返回顶部</h5>
					<div class="ico">
						<img src="/website/images/btn1_9.png" class="img_1"> <img
							src="/website/images/btn1_9_h.png" class="img_2">
					</div>
			</a></li>
		</ul>
	</div>
	<!--右侧漂浮end-->

	<div class="pf_mb z_bj2"></div>
	<!--启动新征程弹窗-->
	<div class="tc_930 tc_2 z_tc2">
		<div class="bian"></div>
		<div class="btn">
			<img alt="" src="/website/images/tc_btn_1.png">
		</div>
		<div class="title">


			<img alt="" src="/website/images/logo67130711.png"><span><img
				alt="" src="/website/images/tc_img_25690521.png"></span>


		</div>
		<form action="/subform.aspx" onSubmit="return checkForm(this)"
			method="post" enctype="multipart/form-data">
			<input type="hidden" name="node" value="20" /><input type="hidden"
				name="biao" value="pz_mess" />
			<ul>
				<li class="l1">
					<div class="zbox">
						<div class="ico">
							<img src="/website/images/tc_ico_6.png">
						</div>
						<div class="name">公司名称</div>
						<div class="txk">
							<input type="text" name="mc" title="公司名称~!">
						</div>
					</div>
				</li>
				<li class="l2">
					<div class="zbox">
						<div class="ico">
							<img src="/website/images/tc_ico_2.png">
						</div>
						<div class="name">联系人</div>
						<div class="txk">
							<input type="text" name="xingming" title="联系人~!">
						</div>
					</div>
				</li>
				<li>
					<div class="zbox">
						<div class="ico">
							<img src="/website/images/tc_ico_3.png">
						</div>
						<div class="name">电话</div>
						<div class="txk">
							<input type="text" name="dianhua" title="电话~m!">
						</div>
					</div>
				</li>
				<li>
					<div class="zbox">
						<div class="ico">
							<img src="/website/images/tc_ico_4.png">
						</div>
						<div class="name">邮箱</div>
						<div class="txk">
							<input type="text" name="youxiang" title="邮箱~email!">
						</div>
					</div>
				</li>
				<li class="l3"><textarea
						placeholder="请输入您的需求，并尽可能的详细及方便联系您的时间段" name="content"></textarea>
				</li>
				<li class="l2 l2_yz">
					<div class="zbox">
						<div class="ico">
							<img src="/website/images/tc_ico_5.png">
						</div>
						<div class="name">验证码</div>
						<div class="txk">
							<input type="text" name="code" title="验证码~!"> <span><img
								src="/website/images/ImgCode.jpg"
								onClick="this.src = this.src+'?'+new Date().getTime();"
								title="点击更换验证码" alt="点击更换验证码"></span>
						</div>
					</div>
				</li>
				<li class="l4"><input type="submit" value="提 交"></li>
			</ul>
		</form>
	</div>
	<!--启动新征程弹窗end-->
	<div class="pz_down">
		<div class="footer" style="display: none;">
			<div class="container">
				<ul>

					<li class="wow fadeInRight">
						<dl>
							<dt>
								全球总公司 <span>/ 全球</span>
							</dt>
							<dd>
								<div class="p">
									<div class="ico">
										<img src="/website/images/ico2_1.png">
									</div>
									<h5>地址：纽约</h5>
								</div>
								<div class="p">
									<div class="ico">
										<img src="/website/images/ico2_2.png">
									</div>
									<h5>
										QQ ：<a>443659478</a>
									</h5>
								</div>
								<div class="p">
									<div class="ico">
										<img src="/website/images/ico2_3.png">
									</div>
									<h5>
										电话：<a>1356244589</a>王工
									</h5>
								</div>
							</dd>
						</dl>
					</li>


				</ul>
			</div>
		</div>
		<!--引入底部导航-->
		<div th:include="webinclude::bottom_"></div>
		<div class="h_50"></div>
	</div>
	<!--手机导航-->
	<div class="pf_menu" style="display: none;">
		<div id="navSlide" class="ph_menu">
			<div class='nav_box'>

				<li class="nli">
					<p>
						<span><a href="index.htm" target="_self" class="l1_a have">首页</a></span>
					</p>

				</li>

				<li class="nli">
					<p>
						<span><a href="javascript:void(0);" target="_self"
							class="l1_a have">产品支持</a></span>
					</p>
					<ul class="l2_ul">
						<li><a href="javascript:void(0);" target="_self"><img
								src="/website/images/ico1_12589561.png" alt="">软件定制与开发服务</a></li>

						<li><a href="javascript:void(0);" target="_self"><img
								src="/website/images/ico1_29788755.png" alt="">手机App/小程序</a></li>

						<li><a href="javascript:void(0);" target="_self"><img
								src="/website/images/ico1_32337037.png" alt="">微信公众号/服务号</a></li>

						<li><a href="javascript:void(0);" target="_self"><img
								src="/website/images/ico1_46812594.png" alt="">网页/网站系统开发</a></li>

					</ul>
				</li>


				<li class="nli">
					<p>
						<span><a href="/case" target="_self" class="l1_a have">部分成果</a></span>
					</p>

				</li>


				<li class="nli">
					<p>
						<span><a href="/about" target="_self" class="l1_a have">关于我们</a></span>
					</p>

				</li>

			</div>
		</div>
	</div>
	<!--手机导航end-->
	<!--底部漂浮-->
	<div class="pf_down visible-xs">
		<li><a target="_blank"
			href="http://wpa.qq.com/msgrd?v=3&uin=419348033&site=qq&menu=yes">
				<div class="ico">
					<img alt="" src="/website/images/btn1_7.png">
				</div>
				<div class="name">QQ</div>
		</a></li>
		<li><a href="tel:13524954089">
				<div class="ico">
					<img alt="" src="/website/images/btn1_6.png">
				</div>
				<div class="name">电话</div>
		</a></li>
		<li class="l1"><a href="/index">
				<div class="ico">
					<img alt="" src="/website/images/btn1_10.png">
				</div>
				<div class="name">首页</div>
		</a></li>
		<li class="wap_mess"><a href="javascript:;">
				<div class="ico">
					<img alt="" src="/website/images/btn1_4.png">
				</div>
				<div class="name">留言</div>
		</a></li>
		<li><a href="javascript:scrollTo('#gotop',0,300)">
				<div class="ico">
					<img alt="" src="/website/images/btn1_9.png">
				</div>
				<div class="name">返回顶部</div>
		</a></li>
	</div>
	<!--底部漂浮end-->
	
	<!--引入js-->
	<div th:include="webinclude::footer"></div>
	<script>
		$('#top_lc').click(function() {
			$('.z_tc2').fadeIn();
			$('.z_bj2').fadeIn();
		})
		$('.pf_right ul li').eq(3).click(function() {
			$('.z_tc2').fadeIn();
			$('.z_bj2').fadeIn();
		})
		$('.z_tc2 .btn').click(function() {
			$(this).parent().fadeOut();
			$('.z_bj2').fadeOut();
		})
	</script>
	<!--底部漂浮end-->
	<script>
		$('.pf_down .wap_mess').click(function() {
			$('.tc_2').fadeIn();
			$('.pf_mb').fadeIn();
		})
	</script>
	
	<script>
		$('.ph_menu .nli').each(function() {
			if ($(this).find('.l2_ul').length < 1) {
				$(this).find('p a').removeClass('have');
			} else {
				$(this).find('p a').attr('href', 'javascript:;');
			}
		})
	</script>

		<script>
			$('.footer ul li').each(function() {
				var num = $(this).index();
				$(this).attr('data-wow-delay', num * 0.2 + 's');
			})
		</script>
		
	<script>
		function show_page() {
			$('.c_0100_6 .img').click(function() {
				var href = $(this).attr('data-href');
				$('.z_neiye iframe').attr('src', href);
				$('.z_neiye').fadeIn();
				$("body,html").css('overflow-y', 'hidden');
			})
			$('.c_0100_6 .title h4').click(function() {
				var href = $(this).attr('data-href');
				$('.z_neiye iframe').attr('src', href);
				$('.z_neiye').fadeIn();
				$("body,html").css('overflow-y', 'hidden');
			})
			$('.z_neiye .zbtn').click(function() {
				$('.z_neiye').hide();
				$("body,html").css('overflow-y', 'auto');
				$('.z_neiye iframe').attr('src', '');
			})

			$('#btn').on('touchend', function(e) {
				e.stopPropagation();
				$('.z_neiye').hide();
				$("body,html").css('overflow-y', 'auto');
				$('.z_neiye iframe').attr('src', '');
				return false;
			});

		}
		show_page();
	</script>
		
</body>
</html>
