
<!doctype html>
<html>
<head th:include="webinclude :: header"></head>
<body>


	<div id="gotop" class="pz_banner" style="height: 1080px;">
		<!-- 顶部内容 -->
		<div th:include="webinclude::top"></div>
		<div class="banner_1">
			<div class="banner">
				<div class="frame">

					<div class="child"
						style="background-image: url(/website/images/5961219.jpg);"></div>

					<div class="child"
						style="background-image: url(/website/images/5060936.jpg);"></div>

					<div class="child"
						style="background-image: url(/website/images/18878806.jpg);"></div>

					<div class="child"
						style="background-image: url(/website/images/36163762.jpg);"></div>

				</div>
			</div>
			<div class="body">
				<a class="a_l">Previous</a><a class="a_r">Next one</a>
				<div class="main">
					<span class="bdr b1"></span><span class="bdr b2"></span><span
						class="bdr b3"></span><span class="bdr b4"></span>
					<div class="home">
						<div class="text">

							<div class="titbox">
								<h3>半雪网络</h3>
								<h4>独具匠心，建立精致软件！</h4>
								<p>立志为行业构建标准！</p>
							</div>

							<div class="titbox">
								<h3>Adhere to the</h3>
								<h4>互联网全系开发商</h4>
								<p>心怀天下，所见皆能！</p>
							</div>

							<div class="titbox">
								<h3>software development</h3>
								<h4>软件开发与维护配套实施</h4>
								<p>感谢您的选择 我们将为你全力打造上乘软件</p>
							</div>

							<div class="titbox">
								<h3>Software customization</h3>
								<h4>软件定制化一体流程</h4>
								<p>精准把控开发方向与节点</p>
							</div>

						</div>
						<div class="b_nav">

							<i></i> <i></i> <i></i> <i></i>

						</div>
					</div>
				</div>
			</div>
			<div class="banner_btn">
				<img src="/website/images/btn2.png">
			</div>
		</div>
	</div>
	<div class="top visible-lg">
		<div class="container">
			<div class="menu">
				<ul>


					<li class="nli first" id="nav1_1"><span><a
							target="_self" href="/index">首页</a></span></li>

					<li class="nli" id="nav1_2"><span><a target="_self"
							href="javascript:void(0)">产品支持</a></span>
						<div class="sub">
							<div class="container">
								<div class="c_378">
									<h2>产品支持</h2>
									<h3>Products&Services</h3>
									<div class="bian"></div>
								</div>
								<ul class="ul1">
									<li class="l1"><a target="_self" href="javascript:void(0)">
											<div class="ico">
												<img src="/website/images/ico1_12589561.png" alt="产品支持"
													class="img_1"> <img
													src="/website/images/ico1_1_h6054932.png" alt="产品支持"
													class="img_2">
											</div>
											<h4>个人/企业网站建设</h4>
									</a></li>

									<li class="l1"><a target="_self" href="javascript:void(0)">
											<div class="ico">
												<img src="/website/images/ico1_29788755.png" alt="产品支持"
													class="img_1"> <img
													src="/website/images/ico1_2_h5422278.png" alt="产品支持"
													class="img_2">
											</div>
											<h4>软件定制开发服务</h4>
									</a></li>

									<li class="l1"><a target="_self" href="javascript:void(0)">
											<div class="ico">
												<img src="/website/images/ico1_32337037.png" alt="产品支持"
													class="img_1"> <img
													src="/website/images/ico1_3_h6584472.png" alt="产品支持"
													class="img_2">
											</div>
											<h4>手机App/微信小程序</h4>
									</a></li>

									<li class="l1"><a target="_self" href="javascript:void(0)">
											<div class="ico">
												<img src="/website/images/ico1_46812594.png" alt="产品支持"
													class="img_1"> <img
													src="/website/images/ico1_4_h4308426.png" alt="产品支持"
													class="img_2">
											</div>
											<h4>微信公众号/服务号</h4>
									</a></li>

									<li class="l1"><a target="_self" href="javascript:void(0)">
											<div class="ico">
												<img src="/website/images/ico1_53967141.png" alt="产品支持"
													class="img_1"> <img
													src="/website/images/ico1_5_h2603855.png" alt="产品支持"
													class="img_2">
											</div>
											<h4>网页/网站系统开发</h4>
									</a></li>

									<li class="l1"><a target="_self" href="javascript:void(0)">
											<div class="ico">
												<img src="/website/images/ico1_68137942.png" alt="产品支持"
													class="img_1"> <img
													src="/website/images/ico1_6_h5676011.png" alt="产品支持"
													class="img_2">
											</div>
											<h4>H5页面/小游戏开发</h4>
									</a></li>
								</ul>
							</div>
						</div></li>


					<li class="nli" id="nav1_4"><span><a target="_self"
							href="/case">部分成果</a></span></li>

					<li class="nli" id="nav1_6"><span><a target="_self"
							href="/about">关于我们</a></span></li>


				</ul>
			</div>
		</div>
	</div>
	<div class="pz_main">
		<div class="c_0100_1">
			<div class="container">
				<div class="tit_1">
					<h3 class="wow fadeInUp">products & service</h3>
					<h4 class="wow fadeInUp" data-wow-delay="0.2s">产品支持 /
						专研软件开发与维护</h4>
				</div>
				<div class="newswitch">
					<div class="row_1 hd">
						<ul class="z_ul1">

							<li class=" wow fadeInUp"><a href="javascript:void(0)"><div
										class="zbox">
										<div class="img">
											<img alt="个人/企业网站建设" src="/website/images/img1_14114703.png">
										</div>
										<h5>个人/企业网站建设</h5>
										<h6>Keyword</h6>
									</div></a></li>

							<li class=" wow fadeInUp"><a href="javascript:void(0)"><div
										class="zbox">
										<div class="img">
											<img alt="软件定制与开发服务" src="/website/images/img1_21472880.png">
										</div>
										<h5>软件定制与开发服务</h5>
										<h6>Customized</h6>
									</div></a></li>

							<li class=" wow fadeInUp"><a href="javascript:void(0)"><div
										class="zbox">
										<div class="img">
											<img alt="手机App/微信小程序"
												src="/website/images/img1_31640202.png">
										</div>
										<h5>手机App/微信小程序</h5>
										<h6>Application</h6>
									</div></a></li>

							<li class=" wow fadeInUp"><a href="javascript:void(0)"><div
										class="zbox">
										<div class="img">
											<img alt="微信公众号/服务号" src="/website/images/img1_46234640.png">
										</div>
										<h5>微信公众号/服务号</h5>
										<h6>WeChat Public</h6>
									</div></a></li>

							<li class=" wow fadeInUp"><a href="javascript:void(0)"><div
										class="zbox">
										<div class="img">
											<img alt="网页/网站系统开发"
												src="/website/images/ico1_5_h2603855.png">
										</div>
										<h5>网页/网站系统开发</h5>
										<h6>development</h6>
									</div></a></li>

							<li class=" wow fadeInUp"><a href="javascript:void(0)"><div
										class="zbox">
										<div class="img">
											<img alt="H5页面/小游戏开发"
												src="/website/images/ico1_6_h5676011.png">
										</div>
										<h5>H5页面/小游戏开发</h5>
										<h6>little game</h6>
									</div></a></li>

						</ul>
					</div>
					<div class="bd wow fadeInUp">
						<ul>

							<li>
								<div class="img">
									<img src="/website/images/13209607.jpg" alt="">
								</div>
								<div class="text">
									<p>
										个人博客、企业官网、门店网站等<br />响应快速 访问流畅。新客户免费提供服务器3个月
									</p>
								</div>
								<div style="display: none;" class="more">
									<a href="javascript:void(0)">期待更多美好</a>
								</div>
							</li>

							<li>
								<div class="img">
									<img src="/website/images/8911626897.jpg" alt="">
								</div>
								<div class="text">
									<p>
										精准定制 全程跟踪<br />让您的网站更加符合你想法。
									</p>
								</div>
								<div style="display: none;" class="more">
									<a href="javascript:void(0)">期待更多美好</a>
								</div>
							</li>

							<li>
								<div class="img">
									<img src="/website/images/7897769304.jpg" alt="">
								</div>
								<div class="text">
									<p>
										安卓、IOS全面覆盖<br />将产品握在手中
									</p>
								</div>
								<div style="display: none;" class="more">
									<a href="javascript:void(0)">期待更多美好</a>
								</div>
							</li>

							<li>
								<div class="img">
									<img src="/website/images/9879236340.jpg" alt="">
								</div>
								<div class="text">
									<p>
										公众号、小程序<br />紧跟潮流、顺应新方向
									</p>
								</div>
								<div style="display: none;" class="more">
									<a href="javascript:void(0)">期待更多美好</a>
								</div>
							</li>

							<li>
								<div class="img">
									<img src="/website/images/img25_12496423.jpg" alt="">
								</div>
								<div class="text">
									<p>
										Web管理系统,随时随地<br />操纵业务流转
									</p>
								</div>
								<div style="display: none;" class="more">
									<a href="javascript:void(0)">期待更多美好</a>
								</div>
							</li>

							<li>
								<div class="img">
									<img src="/website/images/img25_12496423.jpg" alt="">
								</div>
								<div class="text">
									<p>
										简单大方的小游戏推广<br />从感情上吸引用户
									</p>
								</div>
								<div style="display: none;" class="more">
									<a href="javascript:void(0)">期待更多美好</a>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="c_0100_2">
			<div class="container">
				<div class="tit_1">
					<h3 class="wow fadeInUp">brand case</h3>
					<h4 class="wow fadeInUp" data-wow-delay="0.2s">品牌案例 /
						用设计帮助企业创造更大的商业价值</h4>
				</div>
				<div class="row_2">
					<ul class="ul_1">
						<div th:include="webinclude::cases"></div>
					</ul>
				</div>
				<script type="text/javascript" charset="utf-8"
					src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8"
					src="http://static.bshare.cn/b/bshareC0.js"></script>
			</div>
		</div>
		<div class="c_0100_3"
			style="background: url(/website/images/bg_66763973.jpg) no-repeat center center; background-size: cover; background-attachment: fixed;">
			<div class="container" style="position: relative;">
				<h3>
					Major<span></span>
				</h3>
				<div class="right">
					<div class="wow fadeInRight" style="width: 100%;">
						<div id="leftTabBox" class="tabBox">
							<div class="hd c_670">
								<ul>

									<li class="first"><a>软件定制</a></li>

									<li><a>安卓/IOS</a></li>

									<li><a>公众号</a></li>

									<li><a>网页开发</a></li>

								</ul>
							</div>
							<div class="bd">

								<ul>


									<div class="img" data-wow-delay="0.2s">
										<img alt="软件定制" src="/website/images/68491034.jpg"
											width="100%">
									</div>

									<div class="c_670">

										<div class="time">2018.06-30</div>
										<div class="title">
											<a href="javascript:void(0)" class="elli">什么是软件定制服务？</a>
										</div>
										<div class="p">可根据客户的需求，量身定制一系列符合客户实际应用的软件。
											目前的多数信息管理软件可以满足行业内的通用需求，而在特殊流程和客户定制上成本很高。
											大数据和软件定制对于中小企业来说，可以根据自己的实际业务需求，定制开发一套适合自己的软件。
											开发不求一步到位，一步一步进行完善。如此，可以减少投入，并非常适合自身业务发展。
											具体来说，可以先实现在线业务流程、然后是客户管理、办公自动化，接下去是业务分析模块</div>

										<div class="ul"></div>
										<div style="display: none;" class="more">
											<a href="javascript:void(0)">查看更多资讯</a>
										</div>
									</div>
								</ul>

								<ul>


									<div class="img" data-wow-delay="0.2s">
										<img alt="安卓/IOS" src="/website/images/31650267.jpg"
											width="100%">
									</div>

									<div class="c_670">

										<div class="time">2018.10-21</div>
										<div class="title">
											<a href="javascript:void(0);" class="elli">手机应用开发</a>
										</div>
										<div class="p">可针对与苹果及安卓手机开发手机应用。主要类型包括一下：</div>

										<div class="ul">

											<li><a href="javascript:void(0);" class="elli">理财贷款</a></li>

											<li><a href="javascript:void(0);" class="elli">线上办公</a></li>

											<li><a href="javascript:void(0);" class="elli">产品辅助</a></li>

											<li><a href="javascript:void(0);" class="elli">微信商城</a></li>

										</div>
										<div style="display: none;" class="more">
											<a href="javascript:void(0)">查看更多资讯</a>
										</div>
									</div>
								</ul>

								<ul>


									<div class="img" data-wow-delay="0.2s">
										<img alt="微信公众号" src="/website/images/47949275.jpg"
											width="100%">
									</div>

									<div class="c_670">

										<div class="time">2018.09-19</div>
										<div class="title">
											<a href="javascript:void(0);" class="elli">符合潮流的微信公众号/小程序开发</a>
										</div>
										<div class="p">各种微信订阅号、服务号、小程序的开发及代理运营，主要包含以下：</div>

										<div class="ul">

											<li><a href="javascript:void(0);" class="elli">公众号开发、运营</a></li>

											<li><a href="javascript:void(0);" class="elli">公众号推广</a></li>

											<li><a href="javascript:void(0);" class="elli">H5小游戏</a></li>

											<li><a href="javascript:void(0);" class="elli">小程序开发、运营</a></li>

										</div>
										<div style="display: none;" class="more">
											<a href="javascript:void(0)">查看更多资讯</a>
										</div>
									</div>
								</ul>

								<ul>


									<div class="img" data-wow-delay="0.2s">
										<img alt="Web端全站开发" src="/website/images/55873974.jpg"
											width="100%">
									</div>

									<div class="c_670">

										<div class="time">2018.02-05</div>
										<div class="title">
											<a href="javascript:void(0);" class="elli">最全的网页开发</a>
										</div>
										<div class="p">主要对于办公、商城、官网等相关的开发，包含以下：</div>

										<div class="ul">

											<li><a href="javascript:void(0);" class="elli">ERS物流仓储管理</a></li>

											<li><a href="javascript:void(0);" class="elli">办公OA系统</a></li>

											<li><a href="javascript:void(0);" class="elli">个人/公司网站网页开发</a></li>

											<li><a href="javascript:void(0);" class="elli">大型商场类网站开发</a></li>

										</div>
										<div style="display: none;" class="more">
											<a href="javascript:void(0)">查看更多资讯</a>
										</div>
									</div>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="c_0100_4">
			<div class="container">
				<div class="row">
					<ul>

						<li class="l1 wow fadeInDown">
							<div class="zbox"
								style="background-image: url(/website/images/bg_7_17158921.jpg);">
								<div class="pf">
									<img alt="继续坚持传统与世界隔离" src="/website/images/bg_7.png">
								</div>
								<h4>继续坚持传统与世界隔离</h4>
								<div class="more">
									<a>联系我们</a>
								</div>
							</div>
						</li>
						<li class="l2 wow fadeInDown" data-wow-delay="0.2s">
							<div class="zbox"
								style="background-image: url(/website/images/bg_7_26990352.jpg);">
								<div class="pf">
									<img alt="还是领先潮流再度崛起" src="/website/images/bg_7.png">
								</div>
								<h4>还是领先潮流再度崛起</h4>
								<div class="more">
									<a>联系我们</a>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<div class="c_0100_5 hidden-xs">
			<div class="container">
				<div class="row_3">
					<div class="slide_pic_12">

						<div class="z_div">
							<li class="wow fadeInRight li">
								<div class="text">
									<div class="ico">
										<img alt="稳定" src="/website/images/ico5_12880431.png">
									</div>
									<h4>
										稳定<span>stable</span>
									</h4>
									<h5>阿里云助力,服务绝不宕机</h5>
								</div>
							</li>
						</div>

						<div class="z_div">
							<li class="wow fadeInRight li">
								<div class="text">
									<div class="ico">
										<img alt="贴心" src="/website/images/ico5_24605456.png">
									</div>
									<h4>
										贴心<span>intimate</span>
									</h4>
									<h5>全国7*24小时咨询</h5>
								</div>
							</li>
						</div>

						<div class="z_div">
							<li class="wow fadeInRight li">
								<div class="text">
									<div class="ico">
										<img alt="专业" src="/website/images/ico5_34381308.png">
									</div>
									<h4>
										专业<span>profession</span>
									</h4>
									<h5>随时提供最专业支持</h5>
								</div>
							</li>
						</div>

						<div class="z_div">
							<li class="wow fadeInRight li">
								<div class="text">
									<div class="ico">
										<img alt="高效" src="/website/images/ico5_41477342.png">
									</div>
									<h4>
										高效<span>fast</span>
									</h4>
									<h5>快速审阅，高效开发</h5>
								</div>
							</li>
						</div>

						<div class="z_div">
							<li class="wow fadeInRight li">
								<div class="text">
									<div class="ico">
										<img alt="承诺" src="/website/images/ico5_57399250.png">
									</div>
									<h4>
										承诺<span>全程跟踪</span>
									</h4>
									<h5>不达效果绝不交付</h5>
								</div>
							</li>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pf_mb"></div>
	<!--启动新征程弹窗-->
	<div class="tc_930 tc_2">
		<div class="bian"></div>
		<div class="btn">
			<img alt="" src="/website/images/tc_btn_1.png">
		</div>
		<div class="title">

			<img alt="" src="/website/images/logo67130711.png"><span><img
				alt="" src="/website/images/tc_img_25690521.png"></span>

		</div>
		<form id="messFrom" onSubmit="return messubmit(this)" method="post"
			enctype="multipart/form-data">
			<input type="hidden" name="node" value="20" /><input type="hidden"
				name="biao" value="pz_mess" />
			<ul>
				<li class="l1">
					<div class="zbox">
						<div class="ico">
							<img src="/website/images/tc_ico_6.png">
						</div>
						<div class="name">公司名称</div>
						<div class="txk">
							<input type="text" name="companyName" id="companyName"
								title="公司名称~!">
						</div>
					</div>
				</li>
				<li class="l2">
					<div class="zbox">
						<div class="ico">
							<img src="/website/images/tc_ico_2.png">
						</div>
						<div class="name">联系人</div>
						<div class="txk">
							<input type="text" name="names" id="names" title="联系人~!">
						</div>
					</div>
				</li>
				<li>
					<div class="zbox">
						<div class="ico">
							<img src="/website/images/tc_ico_3.png">
						</div>
						<div class="name">电话</div>
						<div class="txk">
							<input type="text" name="phone" id="phone" title="电话~m!">
						</div>
					</div>
				</li>
				<li>
					<div class="zbox">
						<div class="ico">
							<img src="/website/images/tc_ico_4.png">
						</div>
						<div class="name">邮箱</div>
						<div class="txk">
							<input type="text" name="email" id="email" title="邮箱~email">
						</div>
					</div>
				</li>
				<li class="l3"><textarea
						placeholder="请输入您的需求，并尽可能的详细及方便联系您的时间段" id="remark"></textarea></li>
				<li class="l2 l2_yz">
					<div class="zbox">
						<div class="ico">
							<img src="/website/images/tc_ico_5.png">
						</div>
						<div class="name">验证码</div>
						<div class="txk">
							<input type="text" name="code" id="code" title="验证码~!"> <span><img
								src="/website/images/ImgCode.jpg"
								onClick="this.src = this.src+'?'+new Date().getTime();"
								title="点击更换验证码" alt="点击更换验证码"></span>
						</div>
					</div>
				</li>
				<li class="l4"><input type="submit" value="提 交"></li>
			</ul>
		</form>
	</div>
	<!--启动新征程弹窗end-->

	<!--右侧漂浮-->
	<div class="pf_right visible-lg">
		<ul>

			<li class="r_ewm"><a href="javascript:;">
					<h5>微信咨询</h5>
					<div class="ico">
						<img src="/website/images/btn1_87205036.png" class="img_1">
						<img src="/website/images/btn1_8_h6872297.png" class="img_2">
					</div>
					<div class="z_ewm">
						<span class="jt"><img src="/website/images/zico6_6.png" /></span>
						<p>
							<img src="/website/images/6365912487915482991329897.png"
								title="erweima.png" alt="erweima.png" />
						</p>
					</div>
			</a></li>

			<li><a href="tencent://message/?uin=419348033">
					<h5>QQ咨询</h5>
					<div class="ico">
						<img src="/website/images/btn1_72765240.png" class="img_1"><img
							src="/website/images/btn1_7_h2244330.png" class="img_2">
					</div>
			</a></li>

			<li><a href="">
					<h5>13524954089</h5>
					<div class="ico">
						<img src="/website/images/btn1_63546275.png" class="img_1"><img
							src="/website/images/btn1_6_h5481741.png" class="img_2">
					</div>
			</a></li>

			<li><a href="javascript:;">
					<h5>在线留言</h5>
					<div class="ico">
						<img src="/website/images/btn1_41211715.png" class="img_1"><img
							src="/website/images/btn1_4_h6335932.png" class="img_2">
					</div>
			</a></li>

			<li class="last"><a href="javascript:scrollTo('#gotop',0,300)">
					<h5>返回顶部</h5>
					<div class="ico">
						<img src="/website/images/btn1_9.png" class="img_1"> <img
							src="/website/images/btn1_9_h.png" class="img_2">
					</div>
			</a></li>
		</ul>
	</div>
	<!--右侧漂浮end-->
	<!--引入js-->
	<div th:include="webinclude::footer"></div>

	<div class="z_neiye">
		<div class="zbtn" id="btn"></div>
		<iframe width="100%" height="100%" src=""></iframe>
	</div>

	<script>
		$('.slide_pic_12 .z_div').each(function() {
			var num = $(this).index();
			$(this).find('li').attr('data-wow-delay', num * 0.2 + 's');
		})
	</script>

	<script>
		$('#menuph').bind("selectstart", function() {
			return false;
		});
	</script>
	<script>
		$('.z_ul1 li').each(function() {
			var num = $(this).index();
			$(this).attr('data-wow-delay', num * 0.2 + 's');
		})
	</script>
	<script>
		function show_page() {
			$('.c_0100_2 .img').click(function() {
				var href = $(this).attr('data-href');
				$('.z_neiye iframe').attr('src', href);
				$('.z_neiye').fadeIn();
				$("body,html").css('overflow-y', 'hidden');
			})
			$('.c_0100_2 .title h4').click(function() {
				var href = $(this).attr('data-href');
				$('.z_neiye iframe').attr('src', href);
				$('.z_neiye').fadeIn();
				$("body,html").css('overflow-y', 'hidden');
			})
			$('.z_neiye .zbtn').click(function() {
				$('.z_neiye').fadeOut();
				$("body,html").css('overflow-y', 'auto');
				$('.z_neiye iframe').attr('src', '');
			})
			$('#btn').on('touchend', function(e) {
				e.stopPropagation();
				$('.z_neiye').hide();
				$("body,html").css('overflow-y', 'auto');
				$('.z_neiye iframe').attr('src', '');
				return false;
			});
		}
		show_page()
	</script>
	<div class="pz_down">
		<div class="footer" style="display: none;">
			<div class="container">
				<ul>

					<li class="wow fadeInRight">
						<dl>
							<dt>
								全球总公司 <span>/ 全球</span>
							</dt>
							<dd>
								<div class="p">
									<div class="ico">
										<img src="/website/images/ico2_1.png">
									</div>
									<h5>地址：纽约</h5>
								</div>
								<div class="p">
									<div class="ico">
										<img src="/website/images/ico2_2.png">
									</div>
									<h5>
										QQ ：<a>443659478</a>
									</h5>
								</div>
								<div class="p">
									<div class="ico">
										<img src="/website/images/ico2_3.png">
									</div>
									<h5>
										电话：<a>1356244589</a>王工
									</h5>
								</div>
							</dd>
						</dl>
					</li>


				</ul>
			</div>
		</div>
		<script>
			$('.footer ul li').each(function() {
				var num = $(this).index();
				$(this).attr('data-wow-delay', num * 0.2 + 's');
			})
		</script>
		<div th:include="webinclude::bottom_"></div>
		<div class="h_50"></div>
	</div>
	<!--手机导航-->
	<div class="pf_menu" style="display: none;">
		<div id="navSlide" class="ph_menu">
			<div class='nav_box'>

				<li class="nli">
					<p>
						<span><a href="/index" target="_self" class="l1_a have">首页</a></span>
					</p>

				</li>

				<li class="nli">
					<p>
						<span><a href="javascript:void(0);" target="_self"
							class="l1_a have">产品支持</a></span>
					</p>
					<ul class="l2_ul">
						<li><a href="javascript:void(0);" target="_self"><img
								src="/website/images/ico1_12589561.png" alt="">软件定制与开发服务</a></li>

						<li><a href="javascript:void(0);" target="_self"><img
								src="/website/images/ico1_29788755.png" alt="">手机App/微信小程序</a></li>

						<li><a href="javascript:void(0);" target="_self"><img
								src="/website/images/ico1_32337037.png" alt="">微信公众号/服务号</a></li>

						<li><a href="javascript:void(0);" target="_self"><img
								src="/website/images/ico1_46812594.png" alt="">网页/网站系统开发</a></li>

					</ul>
				</li>


				<li class="nli">
					<p>
						<span><a href="/case" target="_self" class="l1_a have">部分成果</a></span>
					</p>

				</li>


				<li class="nli">
					<p>
						<span><a href="/about" target="_self" class="l1_a have">关于我们</a></span>
					</p>

				</li>

			</div>
		</div>
	</div>
	<script>
		$('.ph_menu .nli').each(function() {
			if ($(this).find('.l2_ul').length < 1) {
				$(this).find('p a').removeClass('have');
			} else {
				$(this).find('p a').attr('href', 'javascript:;');
			}
		})
		// 提交
		var messubmit = function(_form) {
			var cm = $('#companyName').val();
			var xm = $('#names').val();
			var em = $('#email').val();
			var ph = $('#phone').val();
			var rm = $('#remark').val();
			var co = $('#code').val();
			if (checkForm(_form)) {
				$.ajax({
					url : "/customerInfo/add",
					data : {
						companyName : cm,
						names : xm,
						email : em,
						phone : ph,
						remark : rm,
						code : co
					},
					type : 'POST',
					xhrFields : {
						withCredentials : true
					},
					crossDomain : true,
					dataType : 'json',
					success : function(data) {
						if (data.code == "000000") {
							alert("已成功保存，请等待我们联系您");
						} else {
							alert(data.msg);
						}
						return false;
					},
					error : function(data) {
						alert("请求错误");
						return false;
					}
				});
			}
			return false;
		}
	</script>
	<!--手机导航end-->
	<!--底部漂浮-->
	<div class="pf_down visible-xs">
		<li><a target="_blank"
			href="http://wpa.qq.com/msgrd?v=3&uin=419348033&site=qq&menu=yes">
				<div class="ico">
					<img alt="" src="/website/images/btn1_72765240.png">
				</div>
				<div class="name">QQ</div>
		</a></li>
		<li><a href="tel:13524954089">
				<div class="ico">
					<img alt="" src="/website/images/btn1_63546275.png">
				</div>
				<div class="name">电话</div>
		</a></li>
		<li class="l1"><a href="/index">
				<div class="ico">
					<img alt="" src="/website/images/btn1_38917773.png">
				</div>
				<div class="name">首页</div>
		</a></li>
		<li class="wap_mess"><a href="javascript:;">
				<div class="ico">
					<img alt="" src="/website/images/btn1_41211715.png">
				</div>
				<div class="name">留言</div>
		</a></li>
		<li><a href="javascript:scrollTo('#gotop',0,300)">
				<div class="ico">
					<img alt="" src="/website/images/btn1_9.png">
				</div>
				<div class="name">返回顶部</div>
		</a></li>
	</div>
	<!--底部漂浮end-->
	<script>
		$('.pf_down .wap_mess').click(function() {
			$('.tc_2').fadeIn();
			$('.pf_mb').fadeIn();
		})
	</script>
	<script>
		if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
			new WOW().init();
		};
		var wow = new WOW({
			boxClass : 'wow',
			animateClass : 'wow',
			offset : 0,
			mobile : true,
			live : true
		});
		wow.init();
	</script>
	<!--首页动态效果end-->
	<script>
		jQuery(".newswitch").slide({
			mainCell : ".bd ul",
			titCell : ".hd li",
			effect : "fade",
			delayTime : 0,
			triggerTime : 0,
			returnDefault : false
		});
	</script>
	<script>
		var sw = 0;

		$(".titbox").each(function(index, element) {
			settit($(this).find("h3"));
			settit($(this).find("h4"));
			settxt($(this).find("p"));
		});

		$(function() {
			winload();

			showtt(".titbox:first h3", 0);
			showtt(".titbox:first h4", 800);
			showtt(".titbox:first p", 2100);
			setTimeout(function() {
				$(".home .text").addClass("d");
			}, 3000);

			$(".banner .frame .child").mChange(
					{
						auto : 1, //是否自动播放,1为自动,0为手动
						arrow : 1, //是否反转箭头,1为点击左侧向右滚动,0则相反
						speed : 800, //效果速度,大于0.3
						time : 8000, //周期时间，大于1
						nav : ".b_nav i", //导航
						nave : "click", //导航事件
						navs : 0, //导航滚动
						prev : ".body .a_l", //上一个
						next : ".body .a_r", //下一个
						cycle : 1, //是否循环
						mousestop : 0, //是否鼠标划入停止
						mousewheel : 0, //是否开启滚轮事件
						animates : function(idx) {
							if ($(".home .text").hasClass("d")) {
								hidett($(".titbox"));

								$(".titbox").fadeOut(
										500,
										function() {
											showtt($(".titbox").eq(idx).find(
													"h3"));
											showtt($(".titbox").eq(idx).find(
													"h4"), 500);
											showtt($(".titbox").eq(idx).find(
													"p"), 1400);
										});

								$(".titbox").eq(idx).stop(true, true).show(0,
										function() {
											settit($(this).find("h3"));
											settit($(this).find("h4"));
											settxt($(this).find("p"));
										});

							}
						} //自定义函数
					});
		});

		$(window).load(function() {

		});
	</script>
	<!--首页banner动态效果end-->
	<!--首页banner-js-->
	<script type="text/javascript">
		function inner_screen() {
			$(".pz_banner").height($(window).height())
		}
		inner_screen();
		$(window).resize(function() {
			inner_screen();
		});
	</script>
	<!--首页banner-js-end-->
	<!--首页第一屏滚动-js-->
	<script type="text/javascript">
		if ($(window).width() >= 1200) {
			$(window).scroll(function() {
				if ($(window).scrollTop() >= 1) {
					$('.pz_banner').addClass('banner-in');
					$('.pf_right').addClass('on');
					$('.top').addClass('on');
				} else {
					$('.pz_banner').removeClass('banner-in');
					$('.pf_right').removeClass('on');
					$('.top').removeClass('on');
				}
			})
		}
	</script>
	<!--首页第一屏滚动-js-end-->
	<script type="text/javascript">
		TouchSlide({
			slideCell : "#leftTabBox"
		});
	</script>
	<!--新闻选项卡切换js-end-->
	<!--弹窗点击效果js-->
	<script>
		$('.c_0100_4 ul li.l1 .more a').click(function() {
			$('.tc_2').fadeIn();
			$('.pf_mb').fadeIn();
		})
		$('.pf_right ul li').eq(3).click(function() {
			$('.tc_2').fadeIn();
			$('.pf_mb').fadeIn();
		})
		$('.c_0100_4 ul li.l2 .more a').click(function() {
			$('.tc_2').fadeIn();
			$('.pf_mb').fadeIn();
		})
		$('.tc_930 .btn').click(function() {
			$(this).parent().fadeOut();
			$('.pf_mb').fadeOut();
		})
	</script>
	<!--弹窗点击效果js-end-->
	<script>
		$('.slide_pic_12').slick({
			dots : true,
			arrows : false,
			//autoplay:true,
			slidesToShow : 5,
			slidesToScroll : 1,
			lazyLoad : 'progressive',
			responsive : [ {
				breakpoint : 1200,
				settings : {
					slidesToShow : 4,
					slidesToScroll : 1,
				}
			}, {
				breakpoint : 992,
				settings : {
					slidesToShow : 3,
					slidesToScroll : 1,
				}
			}, {
				breakpoint : 767,
				settings : {
					slidesToShow : 2,
					slidesToScroll : 1
				}
			} ]
		});
	</script>

</body>
</html>
