<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banxue.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.banxue.user.entity.User">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="userPwd" />
        <result column="create_time" property="createTime" />
        <result column="mod_time" property="modTime" />
        <result column="remark" property="remark" />
        <result column="is_del" property="isDel" />
        <result column="real_name" property="realName" />
    </resultMap>

</mapper>
