<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banxue.onlinemail.mapper.BxNuoSaleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.banxue.onlinemail.entity.BxNuoSale">
        <id column="sale_id" property="saleId" />
        <result column="sale_name" property="saleName" />
        <result column="sale_price" property="salePrice" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
